{% extends "baseTemplate.html" %}
{% block maincontent %}
<a href="{{ url_for('admin.admin') }}">Return to admin</a>
<h1>Newsletters</h1>
<table class="table" id="newsletters-list">
    <tr>
        <th onclick="sortTable(0)">#
            <i class="fa fa-arrows-v" aria-hidden="true"></i></th>
        <th onclick="sortTable(1)">Subject
            <i class="fa fa-arrows-v" aria-hidden="true"></i></th>
        <th onclick="sortTable(2)">Last edit
            <i class="fa fa-arrows-v" aria-hidden="true"></i></th>
        <th onclick="sortTable(3)" class="text-center">Sent
            <i class="fa fa-arrows-v" aria-hidden="true"></i></th>
        <th class="text-center">Edit</th>
        <th class="text-center">Send</th>
    </tr>
    {% for newsletter in newsletters.items %}
    <tr>
        <td>{{ newsletter.id }}</td>
        <td>{{ newsletter.subject }}</td>
        <td>{{ newsletter.last_edit }}</td>
        {% if newsletter.is_sent %}
        <td class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
        {% else %}
        <td class="text-center"><i class="fa fa-square-o" aria-hidden="true"></i></td>
        {% endif %}
        <td class="text-center">
            <a href="{{ url_for('admin.edit_newsletter', newsletter_id = newsletter.id) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        {% if newsletter.is_sent %}
        <td></td>
        {% else %}
        <td class="text-center">
            <a href="{{ url_for('admin.send_newsletter', newsletter_id = newsletter.id) }}">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<!-- Pagination links -->
<div class="pagination">
    {% if newsletters.has_prev %}
    <a href="{{ url_for('admin.newsletters', page=newsletters.prev_num) }}">Previous</a>
    {% endif %}
    {% for num in newsletters.iter_pages() %}
    {% if num %}
    {% if num == newsletters.page %}
    <strong>{{ num }}</strong>
    {% else %}
    <a href="{{ url_for('admin.newsletters', page=num) }}">{{ num }}</a>
    {% endif %}
    {% else %}
    <span class="ellipsis">...</span>
    {% endif %}
    {% endfor %}
    {% if newsletters.has_next %}
    <a href="{{ url_for('admin.newsletters', page=newsletters.next_num) }}">Next</a>
    {% endif %}
</div>

<a href="{{ url_for('admin.new_newsletter') }}" class="button">New newsletter</a>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/newsletter.js') }}"></script>
{% endblock %}
