{% extends "baseTemplate.html" %}
{% block maincontent %}
<h1>Newsletters</h1>
<table class="table">
    <tr>
        <th>Subject</th>
        <th>Last edit</th>
        <th class="text-center">Sent</th>
        <th class="text-center">Edit</th>
        <th class="text-center">Send</th>
    </tr>
    {% for newsletter in newsletters %}
    <tr>
        <td>{{ newsletter.subject }}</td>
        <td>{{ newsletter.last_edit }}</td>
        {% if newsletter.is_sent %}
        <td><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
        {% else %}
        <td class="text-center"><i class="fa fa-square-o" aria-hidden="true"></i></td>
        {% endif %}
        <td class="text-center">
            <a href="{{ url_for('admin.edit_newsletter', newsletter_id = newsletter.id) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        {% if newsletter.is_sent %}
        <td class="text-center">
            <a href="#">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </a>
        </td>
        {% else %}
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}